{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'Accounts/bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top m-1">
  <a class="navbar-brand" href="{% url 'accounts_app:home' %}">Point Reward System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts_app:home' %}">Home</a>
      </li>
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts_app:donate' %}">Donate</a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated%}
      <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts_app:logout' %}">Logout</a>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts_app:login' %}">Login</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts_app:about' %}">About Site</a>
      </li>
    <ul>

  </div>
</nav>

{%block info%}
{%endblock%}

<div class="d-flex justify-content-center mt-5">
  <div class="text-center p-5">
  {% block content%}
  {% endblock %}  
  </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>